#contenedor {
    width: 100%;
    height: auto;
    display: grid;
    grid-template:
        "redes" 50px
        "menu" 70px
        "banner" 800px
        "bienvenida" auto
        "ofrecemos" auto
        "accion" auto
        "productos" auto
        "teem" auto
        "pie" auto / 1fr;
}

#datos {
    grid-area: redes;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dir {
    width: 60%;
}

#dir p {
    color: #ccc;
}

#redes {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

#redes span {
    color: #ccc;
    font-size: 1.3rem;
    cursor: pointer;
}

#redes span:hover {
    filter: drop-shadow(0 0 10px yellow) drop-shadow(0 0 20px yellow);
    color: yellow;
}

#cabecera {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 80px;
    margin-left: 10px;
}

#check:checked ~ .menu {
    left: 0;
}

#check {
    display: none;
}

.icon-menu {
    color: deepskyblue;
    font-size: 2rem;
    margin-right: 10px;
    cursor: pointer;
}

.icon-menu:hover {
    color: darkblue;
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: rgba(0, 0, 0, .9);
    transition: 1s ease;
    z-index: 12;
}

.menu li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    list-style: none;
}

.menu li a {
    text-decoration: none;
    display: block;
    line-height: 9.5;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu li a.active,
li a:hover {
    background-color: deepskyblue;
    color: black;
}

#banner {
    grid-area: banner;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    animation: moverSlider 12s infinite;
}

/* Animación del slider */
@keyframes moverSlider {

    0% {
        transform: translateX(0%);
    }

    30% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-100%);
    }

    63% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    96% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.contenido-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}

.contenido-slider h2 {
    color: yellow;
    margin-left: 50px;
    font-size: 2rem;
}

.contenido-slider p {
    font-size: 14pt;
    margin-left: 50px;
    margin-bottom: 30px;
    color: #ccc;
}

.contenido-slider a {
    background-color: dodgerblue;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 50px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
}

.contenido-slider a:hover {
    background-color: darkblue;
}

#caja1 {
    background-image: url(../img/baner.png);
    background-size: cover;
    background-position: center;
}

#caja2 {
    background-image: url(../img/baner22.png);
    background-size: cover;
    background-position: center;
}

#caja3 {
    background-image: url(../img/baner33.png);
    background-size: cover;
    background-position: center;
}